<configuration>

    <springProfile name="prod">
        <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
        <appender name="LOGZIO" class="io.logz.logback.LogzioLogbackAppender">
            <token>${LOGZ_TOKEN}</token>
            <logzioUrl>${LOGZ_URL}</logzioUrl>
            <logzioType>myType</logzioType>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>DEBUG</level>
            </filter>
        </appender>
        <root level="info">
            <appender-ref ref="LOGZIO"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <!-- encoders are assigned the type
                 ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
            <encoder>
                <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
            </encoder>
        </appender>
        <!-- Can change to info as root if you dont want to see debug logs -->
        <root level="debug">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

</configuration>